body {
  background: linear-gradient(135deg, #1a2634 0%, #191b1d 100%);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
  outline: none;
}

footer {
  background: url("/images/foter.png") no-repeat top center;
  background-size: cover;
  color: #D1780B;
}

footer a {
  color: #D1780B;
}

.sub-title {
  color: #D1780B;
}

/* nav */

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul li {
  padding: 10px 20px;
}

.phone {
  font-weight: 700;
  font-size: 24px;
}

nav a {
  font-size: 20px;
}

nav a,
nav a:hover {
  text-decoration: none;
  color: #D1780B;
  text-transform: capitalize;
}

/* product */

.product {
  background: #7C0E0E;
  margin-bottom: 30px;
}

.product .media {
  width: 100%;
  height: 0;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.product .media img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product .text-area {
  padding: 8px 16px;
  position: relative;
}

.product .text-area .product-title {
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  text-transform: capitalize;
}

.product .text-area .product-price {
  color: #fff;
  font-size: 16px;
  margin: 0px;
}

.product .text-area .circle {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #A12F2F;
  font-size: 14px;
  color: #B3B3BF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -25px;
  right: 16px;
}

.product .text-area .circle a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider {
  position: relative;
  margin-top: -30vh;
}

#slider .slider-title-fix {
  position: absolute;
  display: grid;
  top: 0;
  right: 0;
  grid-template-columns: 5fr 5fr 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "l l t t t";
  z-index: 1;
  width: 100%;
  height: 100%;
}

#slider .slider-title {
  font-weight: bold;
  font-size: calc(15px + 2vmin);
  color: #D1780B;
  grid-area: t;
  top: 50%;
  position: relative;
  transform: translate(0%, -50%);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#slider .slider-title span {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

#slider .slick-slide {
  padding: 10px;
  transform: rotate(-4deg) skewX(-4deg);
}

#slider .slick-slider {
  display: grid;
  grid-template-columns: 5fr 5fr 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "l l t t t" "l l p d n";
  z-index: 2;
}

#slider .slick-list {
  grid-area: l;
  display: grid;
  transform: rotate(4deg) translate3d(0, 0, 0) skewX(4deg) !important;
}

#slider .slick-next {
  grid-area: n;
  display: grid;
  transform: translate(-50%, 0px) rotate(-90deg);
}

#slider .slick-prev {
  grid-area: p;
  display: grid;
  transform: translate(-50%, 0px) rotate(90deg);
}

.slick-arrow,
.slick-arrow:hover,
.slick-arrow:focus {
  position: relative;
  top: auto;
  left: 50%;
  right: auto;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url("/images/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-arrow:before {
  content: "";
}

.slick-next {
  grid-area: n;
  display: grid;
  transform: translate(-50%, 0px) rotate(-90deg);
}

.slick-prev {
  grid-area: p;
  display: grid;
  transform: translate(-50%, 0px) rotate(90deg);
}

@media screen and (max-width: 600px) {
  #slider .slider-title-fix,
  #slider .slick-slider {
    grid-template-columns: 19%;
    grid-gap: 0;
    grid-template-rows: 60px auto 70px;
    grid-template-areas: "t t t t t" "l l l l l" "p d d d n";
  }
}

.slick-dots {
  grid-area: d;
  position: relative;
  bottom: 0;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button::before {
  top: 1px;
  transition: all 0.5s;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
}

.gallery-title {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #D1780B;
}

.gallery-item {
  margin-bottom: 20px;
}

.gallery-item a img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 350px;
}

.block-bg-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.block-bg-img::before {
  content: "";
  background-image: url("/images/fotoabout.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 140%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-25%, 0%);
}

.descr {
  line-height: 1;
}

.title-block {
  background: url("/images/fotomain.png") top center no-repeat;
  background-size: contain;
  height: 85vmin;
  min-height: 530px;
}

.title-block .title {
  padding-top: 10vw;
  color: #7C0E0E;
  font-style: italic;
  font-size: calc(12px + 4vmin);
  text-transform: uppercase;
  font-weight: bold;
  max-width: 640px;
}

.title-btn {
  color: #fff;
  background: #7C0E0E;
  border-radius: 50px;
  padding: 10px 25px;
  outline: none;
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 25px;
  cursor: pointer;
  outline: none;
  border: none;
}

.big-img {
  width: 100% !important;
  height: 0 !important;
  padding-top: 66% !important;
  overflow: hidden !important;
  position: relative !important;
  margin-bottom: 50px !important;
}

.big-img img {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 100% !important;
  height: 100% !important;
  transform: translate(-50%, -50%) !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider img {
  width: 100%;
}

.slider .item {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 66%;
  overflow: hidden;
  margin: 10px 0;
  cursor: pointer;
  outline: none;
}

.slider .item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 10px;
}

.page-title {
  margin-bottom: 30px;
}

td {
  padding: 10px;
  vertical-align: top;
}

.work-time {
  margin-top: 60px;
}

.form {
  background: #7C0E0E;
  padding: 25px;
  text-align: center;
}

.form input {
  color: #383838;
  font-size: 16px;
}

.form-btn {
  color: #383838;
  background: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  margin-top: 25px;
  cursor: pointer;
  outline: none;
  border: none;
}

.map {
  margin-top: 30px;
}

.no-padding {
  padding: 0;
}

.gallery-list {
  margin: 0px -10px;
}

.gallery-list li {
  padding: 10px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: calc(100% - 10px);
  border: 5px solid transparent;
}

.gallery-item:hover {
  border: 5px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.gallery-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: auto;
  height: 100%; */
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
  width: 100%;
}

.gallery-item.big-item {
  padding: 0px;
}

.product-title {
  font-size: 24px;
  font-weight: 300;
  padding: 0;
  margin-bottom: 20px;
  color: #D1780B;
}

.product-url {
  margin-bottom: 20px;
  font-weight: 300;
  opacity: 0.9;
  font-size: 18px;
  color: #D1780B;
}

.price {
  margin-bottom: 20px;
  font-weight: 300;
  opacity: 0.9;
  font-size: 18px;
  color: #7C0E0E;
}

.product-descr {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
}

.specific {
  padding: 0px;
  margin-top: 40px;
}

.specific li {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #989A9E;
}

.specific li span {
  color: #fff;
}

